@use "../../assets/sass/_variables.scss" as *;

.about {
    height: 89vh;
    width: 80vw;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;    color: $color-secondary;
    border-left: 10px solid $color-secondary;
    border-right: 10px solid $color-primary;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;    
        padding:0.5rem;
        width: 70vw;
        &--img {
            height: 20vh;
            border-radius: 30px;
            border: 5px solid $color-primary;
            margin-bottom: 0.25rem;
        }
        &--highlighted {
            color: $color-primary;margin: 0;
            font-size: 25px;
        }
    }
}

@media screen and (min-width: 992px) {
    .about {
        border-left: 17px solid $color-secondary;
        border-right: 17px solid $color-primary;
        &__container {
            width: 80%;
            &--img {
                height: 15rem;
                margin-bottom: 2rem;
            }
            &--highlighted {
      
                font-size: 30px;
            }
        }
    }
}