@use "../../assets/sass/_variables.scss" as *;

.card {
  min-width: 15rem;
  height:22rem;
  background-color: $color-tertiary;
  border: 7px solid $color-secondary;
  border-radius: 40px;
  margin: 1rem;
  padding: 0.5rem;

  &__content {
    width: 100%;

    &--img {
      height: 5rem;
      border-radius: 20px;
      border: 3px solid $color-secondary;
    }

    &--skill {
      color: $color-primary;
    }
  }
}

@media screen and (min-width: 992px) {
  .card {
    min-width: 22rem;
    height: 22rem;
    &__content {
      &--img {
        height: 7rem;
      }
    }
  }
}
