@use "../../assets/sass/_variables.scss" as *;

.nav-menu {
  background-color: $color-tertiary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  &__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    &--link {
      color: $color-primary;
      text-decoration: none;
      font-size: 40px;
    }
    &__list {
      margin-top: 3rem;
    }
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__cross {
    position: fixed;
    width: 3rem;
    top: 2.5rem;
    right: 2.5rem;
    background-color: $color-tertiary;
    border-radius: 40px;
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }
}
